# Indexing, Slicing, Dictionary, Tuples, Boolean Data Type

 * String concatenation (addition) is placing of characters one beside the other
 * String multiplication is repeating the string that many times
 * Indexing and slicing are operations to extract parts of a string/list
 * Dictionary is a data type using Key Value pairs and Tuple is an immutable data type
 * The boolean data type can have only one of two values True or False.

## String concatenation

In [1]:
"My" + "string"   # use the + to concatiniate or combine strings

'Mystring'

In [2]:
"my" + " " + "string"

'my string'

In [5]:
"     my string      "   # spaces can be part of strings

'     my string      '

In [6]:
print("my" + " " + "string")

my string

In [7]:
print("my","string")

my string

In [11]:
print("my","string", sep='*')

my*string

In [12]:
print("my","string", end="!")

my string!

In [13]:
"the temperature is" + 75

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("the temperature is",75)

In [22]:
print("line1")
print()
print("line2")

line1

line2

In [24]:
print("line1\nline2")  #\n is the new line character

line1
line2

In [21]:
print("line1","line2", sep="\n")

line1
line2

print("here is a slash: \\")

In [32]:
s = "name"
a = "age"
print(s,"Peter",a,17)

name Peter age 17

In [36]:
"age" + 17

TypeError: can only concatenate str (not "int") to str

In [37]:
"age" + str(17)

'age17'

In [41]:
s = "happy "
s*5

'happy happy happy happy happy '

In [44]:
s = "****Ready for a 10 min break?****\n"
print(s*5)

****Ready for a 10 min break?****
****Ready for a 10 min break?****
****Ready for a 10 min break?****
****Ready for a 10 min break?****
****Ready for a 10 min break?****

In [177]:
 # typecast the number 30 to a string using Python str() function
n = 30
print(n)
print(type(n))
print("Now type cast 30 to a string")
s = str(n)
print(s)
print(type(s))

30
<class 'int'>
Now type cast 30 to a string
30
<class 'str'>

## Indexing strings¶

Indexing is the process of accessing or adding or editing(putting in the value)an element/object of a container data type.
Indexing access for Strings, Lists and tuples is by location.

In [45]:
s = "abcdefg"

In [46]:
s[0]

'a'

In [47]:
len(s)

7

In [49]:
s[6]

'g'

In [52]:
print(s[1]+s[-3]+s[3])

bed

## Slicing strings

Slicing means taking out parts of a defined string or container object, in a pattern using the syntax ```[start:stop:step]``` The default start position is start of string ```[0]```, default stop position is last character of string ```s[n-1]``` and step refers to increment, default is ```1```.

In [58]:
s = "Problem Solving with Python"

In [62]:
s[0:27:2]

'PolmSligwt yhn'

In [63]:
s[:27:2]

'PolmSligwt yhn'

In [61]:
s[0::2]

'PolmSligwt yhn'

In [65]:
s[26]

'n'

In [67]:
s

'Problem Solving with Python'

In [68]:
s[0:7:1]

'Problem'

In [70]:
s[8:15:1]

'Solving'

In [71]:
s[8:15]

'Solving'

In [79]:
s[-1:-28:-1]

'nohtyP htiw gnivloS melborP'

In [80]:
s[28::-1]

'nohtyP htiw gnivloS melborP'

In [84]:
s[10000000000:-100000000:-1]

'nohtyP htiw gnivloS melborP'

## Indexing and Slicing Lists

Lists can be indexed and sliced just like strings, using the same syntax: [start:stop:step] The default start position is start of list ```[0]```, default stop position is element ```[n-1]``` and step refers to increment, default is ```1```.

In [85]:
a = ['1',"two",3.0,4+0j,5]

In [86]:
a[0]

'1'

In [87]:
a[1]

'two'

In [88]:
a[-1]

5

In [89]:
a[-2]

(4+0j)

In [90]:
a[0]

'1'

In [92]:
a[0] = 1
print(a)

[1, 'two', 3.0, (4+0j), 5]

In [95]:
a.append(6)

In [96]:
print(a)

[1, 'two', 3.0, (4+0j), 5, 6, 6]

In [97]:
a[1]

'two'

In [100]:
a[1][1]

'w'

In [101]:
a[0:7:2]

[1, 3.0, 5, 6]

In [102]:
a[::2]

[1, 3.0, 5, 6]

In [103]:
a[::-1]

[6, 6, 5, (4+0j), 3.0, 'two', 1]

In [104]:
a[4:7:1]

[5, 6, 6]

In [105]:
a[4:7]

[5, 6, 6]

In [106]:
a[4:]

[5, 6, 6]

## The Dictionary Data type

Dictionary data type is also a container data type

Dictionaries store elements as key:value pairs separated by commas ```,```

In lists and strings, indexing is done not by location. Dictionaries are indexed by keys.

In Python, dictionaries are defined with key-value pairs as ```d={key1:value1, key2:value2}```

In [107]:
d = {"name":"Gabby","age":12}
d

{'name': 'Gabby', 'age': 12}

In [110]:
d['name']

'Gabby'

In [111]:
d['age']

12

In [113]:
d.keys()

dict_keys(['name', 'age'])

In [114]:
d.values()

dict_values(['Gabby', 12])

In [117]:
d = {"name":"Gabby","name":"Maelle","age":12,"age":9}
d

{'name': 'Maelle', 'age': 9}

In [ ]:
d={'Omega': '\u03A9', 'Delta':'\u0394', 'Sigma':'\u03c3','Theta':'\u03F4'}

In [118]:
'\u03A9'

'Ω'

In [119]:
'\u0394'

'Δ'

In [120]:
'\u03c3'

'σ'

In [121]:
d={'Omega': '\u03A9', 'Delta':'\u0394', 'Sigma':'\u03c3','Theta':'\u03F4'}

In [122]:
d["Omega"]

'Ω'

In [123]:
d['Sigma']

'σ'

In [124]:
d.keys()

dict_keys(['Omega', 'Delta', 'Sigma', 'Theta'])

In [125]:
d.values()

dict_values(['Ω', 'Δ', 'σ', 'ϴ'])

## Tuple Data Type

tuples are also a container data type

tuples are immutable lists

Elements in a list can modified but elements in a tuple cannot

tuples can have more than two elements (name is misleading)

tuples are represented using () and elements separated by commas as in ```t = (value1, value2, value3)```

In [130]:
t = (3,4,5)
print(t)
type(t)

(3, 4, 5)

tuple

In [131]:
t = ('one',2,3.0,True)
print(t)

('one', 2, 3.0, True)

In [132]:
t[0]

'one'

In [133]:
t[-1]

True

In [134]:
t[0] = 1   # tuples are immutable, you can't modify the elements of a tuple after it is created

TypeError: 'tuple' object does not support item assignment

In [136]:
# useful example of a tuple is a list that will not change 
w =("mon", "tue", "wed", "thu", "fri", "sat", "sun")
print(w[1:4:2])

('tue', 'thu')

In [150]:
l = ["mon", "tue", "wed", "thu", "fri", "sat", "sun"] # tuple
print(l)
l[0] = "blue berry"
print(l)

['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
['blue berry', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']

In [144]:
# tuple with one element
t = (1,)
type(t)

tuple

In [147]:
# an empty tuple, but really no reason to make one.
t = ()
type(t)
t[0]

IndexError: tuple index out of range

## Boolean Data Type and logical operators and, not, or

Usually used as a flag in coding to keep categories like Exempt/Non-exempt, discount yes/no etc.

Boolean logic uses logical operators ```and```, ```or```, ```not```. Boolean variables can be manipulated by boolean logic.

Boolean variables can hold only ```True``` or ```False``` values, can have one of two states only

In [151]:
p = True
type(p)

bool

In [153]:
q = False
type(q)

bool

In [154]:
not p

False

In [155]:
not q

True

In [156]:
p and q

False

In [157]:
p or q

True

In [158]:
not(p and q)

True

In [159]:
(not p) and q

False

In [160]:
p or (p and q)

True

In [161]:
p and (p or q)

True

In [162]:
n = 0
bool(n)

False

In [164]:
m = 10000
bool(m)

True

In [165]:
s = "abc"
bool(s)

True

In [169]:
r = ""
bool(r)

False

In [170]:
g = "False"
bool(g)

True

In [171]:
d = (0.99)
bool(d)

True

In [172]:
f = (0.0)
bool(f)

False

In [173]:
l = [1,2,3]
bool(l)

True

In [174]:
l = []
bool(l)

False

In [175]:
[1,2,3] and []

[]

In [176]:
bool([1,2,3]) and bool([])

False