# Week 01 Notes

 * Calculations in Python

```code```

In [1]:
2+2

4

In [2]:
# this is a comment
# comments are lines of code which are read by humans and do not get run by the computer

## Calculations in Python

### Arithmetic

In [3]:
# Addition
2 + 2

4

In [4]:
# Subtraction
4 - 3

1

In [5]:
# Multiplication
3 * 4

12

In [6]:
# Division
4 / 2

2.0

In [7]:
# Negative Numbers
2 + -4

-2

In [8]:
# Exponents
2**2

4

In [9]:
# Square Roots
16**(0.5)

4.0

In [10]:
# Modulo Operator (remainder opperator)
5 % 2

1

In [11]:
# Floor Division (division with no remainder)
12 // 5

2

### Order of Operations

P - Parenthesis

E - Exponents

M - Multiplication

D - Division

A - Addition

S - Subtraction

In [12]:
2 + 2**3

10

In [13]:
(2 + 2)**3

64

In [14]:
2*(3+1)*2

16

### Trig Functions

In [16]:
# try to use a trig function without importing it first
sin(30)

NameError: ignored

In [17]:
# import the sin function from the math module
# from <module> import <function>
from math import sin

In [18]:
# sin of a number in radians
sin(30)

-0.9880316240928618

In [19]:
# can't use the cos function without importing it first
cos(20)

NameError: ignored

In [20]:
from math import cos

In [21]:
cos(20)

0.40808206181339196

In [22]:
# import mutiple functions from the same module using
# from <module> import <function1>, <function2>, <fuction3>
from math import sin,cos,tan,radians,degrees,pi

In [23]:
tan(pi)

-1.2246467991473532e-16

In [24]:
cos(pi)

-1.0

In [25]:
# convert an angle to degrees, use the degrees function
degrees(pi/2)

90.0

In [26]:
# convert an angle to radians, use the radians function
radians(180)

3.141592653589793

In [27]:
# find other math module functions using the Python documation at Python.org

## Statistical Functions in Python

In [28]:
# from module import function
from statistics import mean

In [29]:
mean([1,2,3])

2

In [30]:
from statistics import mean, mode, median, stdev

In [31]:
mode([1,1,2])

1

In [32]:
median([1,1,2])

1

In [33]:
stdev([1.3,5,9])

3.8509739027939416

### Two other useful Python Functions

 * print()
 * dir()

In [34]:
import math

In [35]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [36]:
import statistics

In [37]:
dir(statistics)

['Counter',
 'Decimal',
 'Fraction',
 'NormalDist',
 'StatisticsError',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_coerce',
 '_convert',
 '_exact_ratio',
 '_fail_neg',
 '_find_lteq',
 '_find_rteq',
 '_isfinite',
 '_normal_dist_inv_cdf',
 '_ss',
 '_sum',
 'bisect_left',
 'bisect_right',
 'erf',
 'exp',
 'fabs',
 'fmean',
 'fsum',
 'geometric_mean',
 'groupby',
 'harmonic_mean',
 'hypot',
 'itemgetter',
 'log',
 'math',
 'mean',
 'median',
 'median_grouped',
 'median_high',
 'median_low',
 'mode',
 'multimode',
 'numbers',
 'pstdev',
 'pvariance',
 'quantiles',
 'random',
 'sqrt',
 'stdev',
 'tau',
 'variance']

In [38]:
print(2)

2

In [39]:
print("My name is Peter")

My name is Peter

In [40]:
print(2 + 2)
3 + 3

4

6

In [41]:
# show 2 + 2
print("2 + 2")

2 + 2

In [42]:
# show 2 + 2 = 4
print("2 + 2 =", 2 + 2)

2 + 2 = 4

### Three ways to import functions

In [43]:
# from module import function
from math import sin
sin(30)

-0.9880316240928618

In [44]:
# import the whole module, but need to use the . notation
import math

math.sin(30)

-0.9880316240928618

In [45]:
# import everyting from a module without needing to use the . notation
# but... your instructor does not recommend this
from math import *

log(2)

0.6931471805599453

### Logarithmic Functions

Log functions must be imported from the math module. Note that log() is the natural log (log base e) and log10() is the base 10 log

In [46]:
# imports
from math import log, log10, log2, e

In [47]:
# natural log, or log base e
log(e)

1.0

In [48]:
log(10)

2.302585092994046

In [49]:
ln(e)

NameError: ignored

In [50]:
# log base 10
log10(10)

1.0

In [51]:
log10(100)

2.0

In [52]:
log10(10**8)

8.0

In [53]:
log2(4)

2.0

In [54]:
# find help on the log() function
help(log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [55]:
log(25, 5)

2.0

In [56]:
5**2

25

In [57]:
8**6

262144

In [58]:
log(262144,8)

6.0

### Assignment Operator and Variables

The ```=``` is the assignment operator. This not the same as the equivalent operator which tests for equality ```==```. Read the assignment operator ```=``` as assign the value on the right-hand side to the variable on the left-hand side

In [59]:
# x is a variable and assign it the value 5
x = 5

In [60]:
# print out the value stored in x
print(x)

5

In [61]:
# variable needs to be listed first and the value listed second
5 = y

SyntaxError: ignored

In [62]:
# assign y the value of 10
y = 10

In [63]:
# run a mathemtatical operation on the variables we defined
x * y

50

#### Rules for variable names in Python

 * variable names must start with a letter or the underscore character
 * varibale names can not contain punctuation or spaces
 * variables names can contain numbers but not at the start of the variable name
 * typically in Python, variable name are lower case, unless they are contants and then they are uppercase.

In [64]:
z_1 = 12

In [65]:
z_1 + y

22

In [66]:
my_name = "Peter"

In [67]:
a_letter = 'n'

In [68]:
a_possive_variable = "Peter's"

In [69]:
a_quote = 'here is a quote "my name is Peter" '

In [70]:
print(a_quote)

here is a quote "my name is Peter"

In [71]:
# invalid variable name
5a = 6

SyntaxError: ignored

In [72]:
%r = 5

UsageError: Line magic function `%r` not found.

In [73]:
4$6 = 7

SyntaxError: ignored

In [74]:
a space = 5

SyntaxError: ignored

## Data Types in Python

### Numeric Data Types

 * integers
 * floats or floating point numbers
 * complex numbers

In [75]:
# integers are whole numbers positive, negative and zero
x = 5
type(x)

int

In [76]:
y = -7
type(y)

int

In [77]:
# floats or floating point numbers are decimals or numbers in scientific notiation
z = 3.1
type(z)

float

In [78]:
# can define floats using scientific notation
a = 10e8
print(type(a))
print(a)

<class 'float'>
1000000000.0

In [79]:
# assign the variable d the float 5
b = 5.
type(b)

float

In [80]:
# Complex numbers also called imaginary numbers have real and complex terms
f = 4 + 3j
type(f)

complex

In [81]:
# complex numbers need to be defined with the letter j, not the letter i
g = 4 + 3i
type(g)

SyntaxError: ignored

In [82]:
# you can convert between different numeric data types using the int(), float() and complex() functions

In [83]:
int(5.7)

5

In [84]:
float(5)

5.0

In [85]:
complex(2,3)

(2+3j)

In [86]:
complex(real=2, imag=3)

(2+3j)

In [87]:
complex(2)

(2+0j)

In [88]:
complex(imag=3)

3j

### Container Data Types

Container data types contain one or more objects or elements. You can step through or iterate over a container data type and you access elements stored in a container.

### Strings

Strings are sequences of letters, numbers, puctuation and spaces. Note that a space is a character. Strings are defined using single quotes, double quotes or tripple quotes.

In [89]:
s = "my string"
type(s)

str

In [90]:
t = 'the letter t!'
type(t)

str

In [91]:
q = "It's great!"
print(q)

It's great!

In [92]:
r = 'string "contains" a quote'
print(r)

string "contains" a quote

In [93]:
# strings defined with triple quotes can contain multiple lines
w = """1st line
2nd line
3rd line
4th line
"""
print(w)

1st line
2nd line
3rd line
4th line

In [94]:
# you can "comment out " lines of code using triple qoutes
s = 4
"""sadf
sd
klj"""
y=4

In [95]:
# special characters can be included in strings using escape codes
# escape codes start with a back slash \
print("line 1 \n line 2")

line 1
 line 2

In [96]:
# to include a backslash in a string, you need use a double back slash
print("here is a back slash \\")

here is a back slash \

## Indexing Strings

In [97]:
## Indexing Strings
s = "mystring"
s[0]

'm'

In [98]:
s[1]

'y'

In [100]:
s[-1]

'g'

In [99]:
s[-2]

'n'

In [101]:
# strings are an immutable data type
s[0] ='w'

TypeError: ignored

In [102]:
## Lists are a container data type that stores objects or elements in a particular order
## Lists in python are defined using square brackets, elements separated with ,

a = [1,2,3]
type(a)

list

In [103]:
# Lists can contain mutiple differnet data types
b = [2,5.4,"a"]
type(b)

list

In [104]:
# Lists 
b*5

[2, 5.4, 'a', 2, 5.4, 'a', 2, 5.4, 'a', 2, 5.4, 'a', 2, 5.4, 'a']

In [105]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [106]:
# lists can be indexed 
m = ['a','b','c','d']
m[0]

'a'

In [107]:
m[1]

'b'

In [108]:
m[-1]

'd'

In [109]:
m[-2]

'c'

In [110]:
# add a value to a list using .append()
m.append('e')
print(m)

['a', 'b', 'c', 'd', 'e']

m.append('e')

In [111]:
m.append('e')
m

['a', 'b', 'c', 'd', 'e', 'e']

In [112]:
# pull a value out of a list using .pop()
m.pop(-1)
print(m)

['a', 'b', 'c', 'd', 'e']

In [113]:
# list are a mutable data type
m[-1] = 'f'
print(m)

['a', 'b', 'c', 'd', 'f']

In [114]:
"me"[-1] = 'y'

TypeError: ignored

In [115]:
s2 = "my"

In [116]:
print("it's a %%%% syntax error")

it's a %%%% syntax error

In [117]:
a = "it is an error"

In [118]:
print(a)

it is an error