# Week 1 Notes

## Python as a Calculator

Note: in Python the pound symbol # is used to denote comments. Comments are lines of text that can be read by people but are not run as code. The symbol # can be put anywhere on a line of code and rest of line will be ignored by Python.

In [ ]:
# Addition
2 + 3

In [ ]:
# Subtraction
6 - 1

In [ ]:
# Multiplication
3 * 3

In [ ]:
# Division
6 / 3

In [ ]:
# Exponents
3**2  # 3 raised to the 2 power

In [ ]:
# square roots by raising a number to the 1/2 power
9**(1/2)

## Order of operations

The order of arithmetic operations in Python is the same as the order of operations in mathematics. Parenthesis ( ) can be used to control the order of operations. 

**P** - **P**arenthesis

**E** - **E**xponents

**M** - **M**ultiplication

**D** - **D**ivision

**A** - **A**ddition

**S** - **S**ubtraction

In [ ]:
# Multiplication and Subtraction
3*2-1

In [ ]:
# Exponents and Divsion
6*2**3

In [ ]:
# Parenthesis
(6*2)**3

In [ ]:
# Parenthesis in different places
(3*2)-1

In [ ]:
3*(2-1)

## Trignometric functions

Trig functions are part of the Python Standard Library, but they need to be **imported** from the **math module** before they can be used. The syntax for using them is always ```modulename.functionname``` as ```math.sin```, ```math.cos```, ```math.tan``` etc.

In [ ]:
# without an import
math.sin(3.14)

In [ ]:
# with an import
import math
math.sin(3.14)

In [ ]:
# import function name
from math import sin,cos,tan
sin(3.14)

In [ ]:
# cos, tan, pi, degrees, radians
cos(4)

In [ ]:
from math import pi, cos, sin, tan
cos(pi)

In [ ]:
sin(pi)

In [ ]:
from math import radians
radians(180)

In [ ]:
from math import degrees
degrees(pi)

In [ ]:
# "nested" functions
cos(radians(180))

## Logarithmic functions

All log functions including log(natural logarithm, e, if base not specified), log10(log to base 10), log2(log to base 2) can all be imported from math module.

In [ ]:
# imports
from math import log, log10, log2, e

In [ ]:
# natural log
log(e)

In [ ]:
# log base 10
log10(10)

In [ ]:
# Log base 10 of exponents
log10(10**8)

In [ ]:
import math
math.log(math.e)

# Assignment Operator and Variables

The sign ```=``` is known as the assignment operator. It is not the same as math equal to = operator. It is used to assign a value to a variable. Read this as "value on right hand side assigned to variable on left hand side". A variable holds data and follows variable naming rules.

In [ ]:
# x is a variable
x = 5

In [4]:
# variables can contain letters, numbers, the underscore, but not spaces
y_1 = 10

In [7]:
# variables name with letters and numbers
y1 = 10   # Python variables must start with a letter (or underscore)

In [9]:
# variable names usually contain lowercase letters
peter_name = "Peter"

In [ ]:
# print() function
print(x)

In [ ]:
# area of a rectangle
b = 5
h = 2
a = b*h
print(a)

In [ ]:
# area of a circle
from math import pi
r = 3
a = pi*r**2
print(a)

## Data types in Python

### Numeric Data Types

 * integers
 * floating point numbers
 * complex numbers

We can use Python's type() function to determine the type of a data variable

### Integers

Integers are whole numbers, positive, negative and zero.

In [10]:
x = 5
type(x)

int

In [11]:
y = -1
type(y)

int

In [12]:
z = 0
type(0)

int

### Floating point numbers or floats

Floating point numbers (also called floats) are decimal numbers including positive, negative and 0.0 and can also be represented using scientific notation.

In [13]:
a = 0.01
type(a)

float

In [14]:
b = -3.2
type(b)

float

In [16]:
z = 0.0      # use a decimal point to denote a float instead of an int
type(z)

float

In [20]:
c = 5.
type(c)

float

In [21]:
d = int(0.04)    # convert floats to integers with the float() function
type(d)

int

In [22]:
f = float(3)  # convert integers to floats with the int() function
type(f)

float

In [25]:
g = 5.9       # the int() function truncates the decimal portion of a float
print(int(g))

5

### Complex Numbers

Complex numbers are numbers which contain a real term and an imaginary term. In Python complex numbers are defined as ```a+bj``` and i is not used . i is not recognized in Python for complex numbers.

In [26]:
4 + 2i

SyntaxError: invalid syntax (2697824354.py, line 1)

In [28]:
type(4 + 2j)

complex

In [29]:
(4 + 2j) + 3

(7+2j)

In [31]:
c = complex(4,2)
print(c)
type(c)

(4+2j)

complex

## Container Data types

Container data types contain one or more objects/elements. You can 'step through' or iterate through the elements and hence they are called _iterables_. In Python the container data types include

* strings
* lists
* tuples
* dictionaries


### Strings

Strings are sequences of characters. Letters, numbers spaces and punctuation and even special characters are included. Space is a character. It is not NULL. Null is empty. Strings are defined using single quotes ' ' or " double quotes".

In [34]:
s = "my string"
type(s)

str

In [35]:
t = 'the letter t'
type(t)

str

In [38]:
q = "It's great!"

In [41]:
s = 5.0
print(s)
print(type(s))

r = str(s)
print(r)
print(type(r))

5.0
<class 'float'>
5.0
<class 'str'>

### Lists

Python lists are a container data type.

Lists can contain one or more data types (For example, can have numeric and string data types in same list)
Python lists are defined with square brackets [ ] , elements separated with commas , ,
Python counting starts at zero and ends at at n-1.

In [42]:
l = [1,3,4]  # lists are defined with [] commas between elements
type(l)

list

In [44]:
r = [1,0.45,"s"]
type(r)

list

In [46]:
my_str = "Gabby"  
list(my_str)      # list() function converts other data types into lists

['G', 'a', 'b', 'b', 'y']

### Python's print() function

In [47]:
print(45)
print()      # when no input arguments are supplied, a space results
print(34)

45

34

In [49]:
print("Pe","ter")

Pe ter

In [52]:
print("line1 \n line2")

line1
line2

## Indexing Strings

In [58]:
s = "Problem Solving with Python"
s[6]

'm'

In [60]:
s[-4]   # index backwards using negative indicies

't'

#### Indexing Lists

In [74]:
r = ["first","second","third"]
r[0]

'first'

In [65]:
r[-1]

'third'

In [66]:
r[-2]

'second'

#### Slicing Lists

#### Appending and Popping Lists

In [75]:
r = ["first","second","third"]
r

['first', 'second', 'third']

In [76]:
r.append("fourth")
r

['first', 'second', 'third', 'fourth']

In [77]:
r.pop()

'fourth'

In [78]:
r

['first', 'second', 'third']

In [80]:
r.pop(0)
r

['second', 'third']

In [81]:
r

['second', 'third']

In [83]:
r.pop(0)
r

['third']

In [89]:
g = ["first","second","third"]
g[1] = "2nd"
g

['first', '2nd', 'third']

In [93]:
g = ["first","second","third"]
print(g[1])
print(g[1][0])

second
s

### Appending and Popping Strings?

In [85]:
s = 'miss'  # can't use .pop() or a.ppend() on strings
s.pop()

AttributeError: 'str' object has no attribute 'pop'