# Lab 7 Notes

 * ENGR114 2022Q4
 * 2022-11-17

## Explore a taylor series using a for loop

### See if there is a factorial function in Python's math module

In [1]:
import math

In [2]:
# dir(math)  turns out the math module does have a factorial function

### Import the factorial function from the math module

In [3]:
from math import factorial

In [4]:
# test 2! and 3!
factorial(2)

2

In [5]:
factorial(3)

6

In [6]:
# what is 0!  ????
factorial(0)

1

### Approximate e^2 or exp(2) by typing the taylor series terms

In [7]:
1 + 2 + 2**2/factorial(2) + 2**3/factorial(3) + 2**4/factorial(4) + 2**5/factorial(5)

7.266666666666667

In [8]:
# check against python's exp() function
from math import exp

In [9]:
exp(2)

7.38905609893065

In [10]:
x=3
1 + x + x**2/factorial(2) + x**3/factorial(3) + x**4/factorial(4) + x**5/factorial(5)

18.4

In [11]:
exp(3)

20.085536923187668

### rewrite the taylor series terms using a loop

In [12]:
x = 1
x += 2
x

3

In [13]:
x = 3  # find exp(3)
exp_t = 0
for n in range(20):
    term = x**n/factorial(n)
    exp_t += term
    
print(exp_t)

20.085536921517665

In [14]:
exp_t - exp(3)

-1.6700028027116787e-09

### break out the number of terms into a variable

In [15]:
x = 3  # find exp(3)
exp_t = 0
n_terms = 40
for n in range(n_terms):
    term = x**n/factorial(n)
    exp_t += term
    
print(exp_t)

20.08553692318766

### put the loop into a function

In [16]:
def exp_taylor(x, n_terms):
    exp_t = 0
    for n in range(n_terms):
        term = x**n/factorial(n)
        exp_t += term
        
    return exp_t

In [17]:
# test the exp_taylor function with x=3 and 40 terms
exp_taylor(3,40)

20.08553692318766

In [18]:
# test exp_taylor function with x=2 and 6 terms
exp_taylor(2,6)

7.266666666666667

In [19]:
## put the exp_taylor function in a .py file, import it and use it

In [20]:
from taylor_series import exp_taylor

In [21]:
exp_taylor(2,6)

7.266666666666667

### Calculate sin(0.5) using 5 terms of the taylor series

In [22]:
0.5 - 0.5**3/factorial(3) + 0.5**5/factorial(5) - 0.5**7/factorial(7) + 0.5**9/factorial(9)

0.4794255386164159

In [23]:
# compare to the sin() function from Python's math module
from math import sin

In [24]:
sin(0.5)

0.479425538604203

In [25]:
# compare
0.4794255386164159 - sin(0.5)

1.2212897360086572e-11

### put in a variable to be able to find the sine of any number using the taylor series

In [29]:
from math import pi

In [30]:
x = 3*pi/2
x - x**3/factorial(3) + x**5/factorial(5) - x**7/factorial(7) + x**9/factorial(9)

-0.444365928237735

In [31]:
# compare to the sin() function in Python's math module
sin(3)

0.1411200080598672

In [32]:
from math import pi

In [33]:
sin(3*pi/2)

-1.0

### use a loop to write out the taylor series

In [34]:
x = 0.7
sin_t = 0   # initialize the variable that will store the growing sum of terms
for n in range(5):
    term = (-1)**n * x**(2*n+1)/factorial(2*n+1)
    sin_t += term
    
sin_t

0.6442176877315008

In [35]:
sin(0.7)

0.644217687237691

### pull all hard coded numbers out of the loop and into a variable

In [36]:
x = 0.7
sin_t = 0   # initialize the variable that will store the growing sum of terms
n_terms = 5
for n in range(n_terms):
    term = (-1)**n * x**(2*n+1)/factorial(2*n+1)
    sin_t += term
    
sin_t

0.6442176877315008

### put the loop into a function

In [37]:
def sin_taylor(x, n_terms):
    sin_t = 0
    for n in range(n_terms):
        term = (-1)**n * x**(2*n+1)/factorial(2*n+1)
        sin_t += term
        
    return sin_t

In [38]:
# test the function with x=0.7 and 5 terms
sin_taylor(0.7,5)

0.6442176877315008

In [39]:
# copy the sin_taylor function in the taylor_series.py file, import the function and test it

In [40]:
from taylor_series import sin_taylor

In [41]:
sin_taylor(0.7,5)

0.6442176877315008

### use selection logic to choose which function to run and then run the function

In [42]:
from taylor_series import sin_taylor, exp_taylor

In [43]:
func = 'exp'
x = 0.7
n_terms = 5
if func == 'sin':
    ans = sin_taylor(x,n_terms)
elif func == 'exp':
    ans = exp_taylor(x,n_terms)
else:
    print("not one of the functions")
print(ans)

2.0121708333333332

In [44]:
from math import exp

In [45]:
# compare to Python's exp() function
exp(0.7)

2.0137527074704766

### Create a "main" taylor() function that runs the selection logic

In [46]:
def taylor(func, x, terms):
    if func == 'sin':
        ans = sin_taylor(x,n_terms)
    elif func == 'exp':
        ans = exp_taylor(x,n_terms)
    else:
        print("not one of the functions")
        return None
        
    return ans

In [47]:
# test with exp, x=0.7 and 5 terms
taylor('exp',0.7,5)

2.0121708333333332

In [48]:
taylor('sin',0.7,5)

0.6442176877315008

In [49]:
taylor('me',0.8,5)

not one of the functions

In [50]:
a = taylor('me',0.8,5)

not one of the functions

In [51]:
print(a)

None

### Re-write the function so that we only accept a number of terms between 1 and 50

In [52]:
def taylor(func, x, terms):
    if terms>50:
        raise Exception('number of terms should not exceed 50')
    elif terms<1:
        raise Exception('number of terms should be 1 or greater')
    if func == 'sin':
        ans = sin_taylor(x,n_terms)
    elif func == 'exp':
        ans = exp_taylor(x,n_terms)
    else:
        print("not one of the functions")
        return None
        
    return ans

In [53]:
taylor('exp',2,100)

Exception: number of terms should not exceed 50

In [54]:
taylor('exp',2,-5)

Exception: number of terms should be 1 or greater

### raise an exception if the function isn't exp() or sin()

In [55]:
def taylor(func, x, terms):
    if terms>50:
        raise Exception('number of terms should not exceed 50')
    elif terms<1:
        raise Exception('number of terms should be 1 or greater')
    if func == 'sin':
        ans = sin_taylor(x,n_terms)
    elif func == 'exp':
        ans = exp_taylor(x,n_terms)
    else:
        raise Exception('not one of the functions, use sin or exp only')
        return None
        
    return ans

In [56]:
taylor('me',2,10)

Exception: not one of the functions, use sin or exp only

### copy the taylor() function into the taylor_series.py file, import it an call it

In [57]:
from taylor_series import taylor

In [58]:
taylor('exp',2,10)

7.3887125220458545

In [59]:
from math import exp

In [60]:
exp(2)

7.38905609893065

### Find sin(30*) and e^2 using the taylor function

In [61]:
from taylor_series import taylor

In [62]:
# find sin(30*)
# first convert 30* into radians before calling our taylor function
from math import radians

In [63]:
rad = radians(30)
rad

0.5235987755982988

In [64]:
taylor('sin',rad,8)

0.49999999999999994

In [65]:
from math import sin

In [66]:
sin(rad)

0.49999999999999994

In [67]:
# find e^2
taylor('exp',2,23)

7.389056098930649

In [68]:
from math import exp

In [69]:
exp(2)

7.38905609893065