# Lab 3 Sifting Weather Data

 * Name: Class Notes
 * Date: 2022-10-13
 * Course and Quater: ENGR114 Fall 2022

In [1]:
import numpy as np
import pandas as pd

In [2]:
# make sure the weather_data.xlsx file is
# in the same directory as this running Jupyter notebook
%ls

cat_in_hat_words.txt
lab3_notes.ipynb
lab_03_notes.ipynb
weather_data.xlsx
week_03_notes.ipynb
week_03_notes_outline.ipynb
week_03_notes_review_arrays_and_lists.ipynb

In [3]:
# import the weather_data.xlsx as a pandas dataframe, df
df = pd.read_excel("weather_data.xlsx", header=None)

In [4]:
# find the shape of the data frame and take a look at the data
print(df.shape)
df

(12, 31)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,0,0,272,0,0,0,0,9,26,1,...,1,15,224,0,0,0,0,0,33,33
1,61,103,0,2,0,0,0,2,0,68,...,0,0,5,0,0,0,62,-99999,-99999,-99999
2,2,0,17,27,0,10,0,0,30,25,...,26,0,0,9,6,78,0,5,8,0
3,260,1,0,0,0,1,3,0,5,0,...,0,0,0,0,9,35,13,86,0,-99999
4,47,0,0,0,5,115,49,81,0,0,...,0,0,0,0,0,2,0,0,0,0
5,0,0,30,42,0,0,0,0,0,0,...,0,2,2,240,16,35,14,14,8,-99999
6,0,0,0,0,0,0,0,7,0,0,...,0,0,0,10,0,0,5,0,0,0
7,0,45,0,0,0,0,0,0,5,0,...,0,0,158,62,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,37,0,0,0,0,6,138,58,10,-99999
9,0,0,0,14,156,0,0,0,0,110,...,0,0,0,0,0,0,0,0,0,1
10,1,163,5,0,0,0,0,0,0,0,...,0,2,2,10,255,2,0,0,0,-99999
11,0,0,0,0,0,45,0,0,0,15,...,34,0,0,0,0,0,0,0,0,0

In [5]:
# what variable type is the variable df?
type(df)

pandas.core.frame.DataFrame

In [6]:
# convert the DataFrame into a NumPy array
wd = np.array(df)
type(wd)

numpy.ndarray

In [7]:
# make sure the array is 12 rows and 31 cols
wd.shape

(12, 31)

In [8]:
# convert the data from 100ths of an inch to inches
wd = wd*0.01

In [9]:
# set the month as February, row index 1
m = 1
md = wd[m,:]   # row according to month, all columns
print(md)

[ 6.1000e-01  1.0300e+00  0.0000e+00  2.0000e-02  0.0000e+00  0.0000e+00
  0.0000e+00  2.0000e-02  0.0000e+00  6.8000e-01  3.0000e-02  3.0000e-02
  1.0000e-02  0.0000e+00  0.0000e+00  0.0000e+00  1.0000e-02  1.3500e+00
  3.0000e-02  6.6000e-01  0.0000e+00  0.0000e+00  0.0000e+00  5.0000e-02
  0.0000e+00  0.0000e+00  0.0000e+00  6.2000e-01 -9.9999e+02 -9.9999e+02
 -9.9999e+02]

In [10]:
# use a mask to remove the -9.9999 values, that don't represent rainfall
mask = md>-1
md = md[mask]
print(md)

[0.61 1.03 0.   0.02 0.   0.   0.   0.02 0.   0.68 0.03 0.03 0.01 0.
 0.   0.   0.01 1.35 0.03 0.66 0.   0.   0.   0.05 0.   0.   0.   0.62]

### Compute weather statistics

In [11]:
# d_zero: day(s) of month m in which zero inches fell
locs = np.where(md==0)
d_zero = locs[0]+1     # need to pull out the index zero value from the tuple
print("The days of the month with zero rain were:",d_zero)

The days of the month with zero rain were: [ 3  5  6  7  9 14 15 16 21 22 23 25 26 27]